<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1> <%= title %> </h1>
        <h2>Confirma que desea eliminar ese registro de oficina?</h2>
        <form action="/deleteOficina/<%= item.id %>" method="post">
            <button type="submit">Confirmar</button>
        </form>

    </body>

</html>