<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <h1> <%= title %> </h1>
        <form action="/updateOficina/<%= item.id %>" method="post">
            <input type="text" name="denominacion" value="<%= item.denominacion %>" required>
            <!-- Nuevo campo -->
            <button type="submit">Actualizar</button>     
        </form>
    </body>

</html>