<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <% oficinas.forEach(element => { %>
                <li>
                  <p>Oficina: <%= element.denominacion  %></p> 

                </li>
                <% }) %>
        </ul>
    </body>